.profile-page-wrapper {
	margin: auto;
	width: 800px;
	height: 96vh;
	overflow-y: scroll !important;
}
.profile-header {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 5px 20px;
}

.link-btn {
	margin: 0 5px;
	font-size: 20px;
}

.post-container {
	background: #f1f1f1;
	border: 2px solid transparent;
	border-radius: 3px;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.post-container img {
	width: 100%;
	height: auto;
	max-height: 500px;
	object-fit: cover;
}
.single-post-title {
	margin: 5px;
	font-size: 18px;
	font-weight: lighter;
}
.single-post-title label {
	margin-right: 10px;
	font-weight: normal;
}
.single-post-info {
	margin: 15px 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.single-post-info div {
	width: fit-content;
	display: flex;
	flex-direction: row;
	align-items: center;

	font-size: 20px;
}
.single-post-info p {
	font-size: 20px;
}
.single-post-info img {
	width: 22px;
	height: 22px;
	margin: 0 10px;
}
.single-post-info label {
	margin: 0 2px;
	border-radius: 5px;
	font-weight: bold;
	background: rgb(9, 46, 105);
	padding: 2.5px 7.5px;
	color: #f1f1f1;
}

@media screen and (max-width: 820px) {
	.profile-page-wrapper {
		width: 100%;
		overflow: hidden;
		height: fit-content;
	}
}

@media screen and (max-width: 650px) {
	.profile-header {
		justify-content: space-evenly;
	}
	.link-btn {
		padding: 5px 30px;
	}

	.single-post-title {
		font-size: 16px;
		font-weight: normal;
		color: #444;
	}
	.single-post-title label {
		margin-right: 10px;
		font-weight: normal;
		color: black;
	}

	.single-post-info div {
		font-size: 16px;
	}
	.single-post-info p {
		font-size: 16px;
	}
	.single-post-info img {
		width: 18px;
		height: 18px;
		margin: 0 8px;
	}
}
@media screen and (max-width: 500px) {
	.single-post-info {
		display: flex;
		align-items: flex-start;
		flex-direction: column !important;
	}
	.single-post-info p {
		color: #444;
	}
}
